* {
    margin: 0;
    padding: 0;
}

.wrapper {

    .test {
        height: 300px;
        width: 100%;
        background: red;
        margin: 2px;
    }
    .test1 {
        background: blue;
    }
}

@media (min-width: 900px) {
    .wrapper {
        display: flex;

        .test {
            width: 300px;
        }
    }
}