body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #7dcaff 0%, white 30%, #ffffc2 54%, #3ec065 56%, #70f223 100%);
}

#bear {
  text-align: center;
  margin: 50px auto;
  width: 200px;
  height: 370px;
  position: relative;
}
#bear::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 400px;
  height: 60px;
  transform: translate(-50%, 0);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  filter: blur(5px);
}

.head-cnt {
  position: absolute;
  left: 50%;
  top: -10px;
  width: 230px;
  height: 180px;
  z-index: 2;
  transform: translate(-50%, 0);
  transform-origin: 50% 90%;
}

.head-bg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #e8a554 40%, #db914a 99%);
  position: relative;
  box-shadow: 0 3px 10px rgba(106, 69, 40, 0.1);
}

.ears {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}

.ear {
  position: absolute;
  top: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: pink;
  background: linear-gradient(#efc767 0%, #ca7c3a 100%);
}
.ear:before {
  content: "";
  bottom: 16px;
  height: 50px;
  position: absolute;
  right: 13px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(#975d2d 0%, #6f4326 100%);
}

.ear-left {
  left: 0;
}

.ear-right {
  right: 0;
}

.eyes {
  width: 120px;
  height: 70px;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 36px;
}

.eye {
  border-radius: 50%;
  background: linear-gradient(135deg, #e2a04c 0%, #efaf58 99%);
  width: 50px;
  height: 70px;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 2;
}
.eye:before {
  content: "";
  border-top: 5px solid #89542a;
  border-radius: 50% 50% 0 0;
  display: block;
  height: 40px;
  width: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.eye-left {
  left: 0;
  transform: rotate(-25deg);
}

.eye-right {
  right: 0;
  transform: rotate(25deg);
}

.eyeball {
  background: linear-gradient(45deg, #99562c 10%, #6d4627 100%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 43px;
}
.eyeball:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  position: relative;
  top: 3px;
}

.muzzle {
  background-color: #e5ca9d;
  border-radius: 50%;
  display: block;
  height: 65px;
  width: 95px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 10px;
  z-index: 3;
  box-shadow: 0 3px 10px rgba(106, 69, 40, 0.2);
}

.nose {
  background-color: #66442a;
  border-radius: 70%/70% 70% 131% 131%;
  height: 40px;
  width: 58px;
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translate(-50%, 0);
  box-shadow: 0 3px 10px rgba(106, 69, 40, 0.3);
}
.nose:after {
  content: "";
  display: block;
  height: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  top: 34px;
  width: 2px;
  background-color: #6a4528;
}

.mouth {
  border-bottom: 3px solid #78421c;
  border-radius: 0 0 90px 90px;
  height: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 28px;
  width: 60px;
}

.body {
  width: 220px;
  height: 230px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 115px;
  z-index: 1;
}

.belly {
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, #d38442 48%, #b75b26 99%);
  position: absolute;
  top: 0;
  z-index: 1;
}
.belly:after {
  content: "";
  background-color: #fdedd3;
  border-radius: 70%/90% 90% 50% 50%;
  height: 140px;
  position: relative;
  top: 44px;
  width: 140px;
  display: inline-block;
  z-index: 2;
}

.hands {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 160px;
  height: 20px;
  transform: translate(-50%, 0);
}

.hand-left {
  background: #d88946;
  background: linear-gradient(135deg, #d88946 14%, #e5ad4c 100%);
  border-radius: 50%;
  display: block;
  height: 60px;
  position: absolute;
  width: 130px;
  z-index: 1;
  transform-origin: calc(100% - 10px) 50%;
  left: -100px;
  transform: rotate(-20deg);
}

.hand-right {
  background: #d88946;
  background: linear-gradient(135deg, #d88946 14%, #e5ad4c 100%);
  border-radius: 50%;
  display: block;
  height: 60px;
  position: absolute;
  width: 130px;
  z-index: 1;
  right: -100px;
  transform-origin: 10px 50%;
  transform: rotate(20deg);
}

.legs {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10;
  height: 80px;
}

.leg-left {
  border-radius: 50%;
  width: 96px;
  height: 120px;
  background: linear-gradient(135deg, #df9a4c 41%, #d58443 90%);
  position: absolute;
  transform: rotate(-45deg);
  left: -10px;
}
.leg-left:before {
  content: "";
  display: block;
  background: linear-gradient(135deg, #e2c897 14%, #fdedd3 100%);
  border-radius: 50%;
  width: 80%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 10%;
}

.leg-right {
  border-radius: 50%;
  width: 96px;
  height: 120px;
  background: linear-gradient(135deg, #df9a4c 41%, #d58443 90%);
  position: absolute;
  transform: rotate(45deg);
  right: -10px;
}
.leg-right:before {
  content: "";
  display: block;
  background: linear-gradient(135deg, #e2c897 14%, #fdedd3 100%);
  border-radius: 50%;
  width: 80%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 10%;
}

@-webkit-keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
.hand-left:hover {
  -webkit-animation: move 2s;
          animation: move 2s;
}
/*# sourceMappingURL=main.css.map */
