.exercise1 {
    display: flex;

    .test {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        flex-grow: 1;
    }

    .test1 {
        background: #ff6347;

        .loading1 {
            height: 50px;
            border: 1px solid #fff;
            border-radius: 20px;
            padding: 2px;

            .dot {
                height: 20px;
                width: 20px;
                background: #fff;
                border-radius: 50%;

                animation: loading1Anim 0.5s infinite alternate linear;
            }
        }
    }

    .test2 {
        background: #9370db;

        .loading2 {
            height: 50px;
            width: 50px;
            border: 2px solid rgb(112, 111, 111);
            border-radius: 50%;
            border-top: 2px solid rgb(255, 255, 255);

            animation: loading2Anim .5s infinite linear;
        }
    }

    .test3 {
        background: #00fa9a;

        .loading3 {
            height: 30px;
            width: 30px;

            display: flex;

            span {
                display: block;
                background: #fff;
                margin: 1px;
                flex-grow: 1;
                border-radius: 3px;
            }

            @for $i from 1 through 5 {
                span:nth-child(#{$i}) {
                    $delay: ((0.2 * $i) * 1s);
                    animation: loading3Anim 1s $delay infinite alternate;
                }
            }
        }
    }
}


@keyframes loading1Anim {
  0% {
      transform: translateY(0%);
      height: 25px;
  }
  50% {
    height: 20px;
  }
  100% {
      transform: translateY(100%);
      height: 25px;
  }
}

@keyframes loading2Anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading3Anim {
    100% {
        transform: scaleY(0.2);
    }
}
