.exercise2 {
    display: flex;
    padding: 100px;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

.red-button {
    padding: 20px 40px;
    color: crimson;
    border-radius: 40px;
    border: 0;
    margin: 10px;
    text-transform: uppercase;
    background: none;
    box-shadow: inset 0 0 0 3px crimson;
    cursor: pointer;
}

.red-button:hover {
    animation: btn-red-anim 0.5s infinite;
}

@keyframes btn-red-anim {
    0% {
        background: seagreen;
    }
    33% {
        transform: rotate(45deg);
    }
    66% {
        background: rebeccapurple;
    }
    100% {
        scale: 1;
    }
}

.blue-button {
    padding: 20px 40px;
    background: dodgerblue;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.blue-button:hover {
    animation: blue-btn-anim 2s linear infinite alternate;
}

@keyframes blue-btn-anim {
    0% {
    }
    25% {
        background: red;
        transform: translateY(100%);
    }
    50% {
        background: green;
        transform: translateY(100%) translateX(100%);
    }
    75% {
        background: yellow;
        transform: translateX(100%);
    }
    100% {
        background: hotpink;
        transform: rotate(360deg);
    }
}

.green-button {
    padding: 20px 40px;
    background: #2feb73;
    border: 0;
    color: #fff;
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.green-button:hover {
    animation: green-btn-anim 1s linear infinite ;
}

@keyframes green-btn-anim {
    25% {
        transform: scale(2);
    }
    75% {
        transform: rotate(360deg);
        background: blue;
    }
}
