@import "./colors";
@import "./reset";
@import "./fonts";

.container {
    width: 100%;

    font-family: $font-family;

    .highlight {
        margin: 0 auto;

        .highlight-box {
            margin: 1em auto;
            width: 90%;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;

            background: $white-col;
            border-radius: 1.5em;

            .img {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                width: 100%;

                border-radius: 1.5em 1.5em 0 0;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            .highlight-box-content {
                font-family: system-ui;

                padding: 1.5em;

                grid-row: 2 / 3;
                grid-column: 1 / 2;


                p {
                    color: lighten($txt-col, 20%);
                    margin:  .3em auto;
                    padding: 0 .2em;
                }

                .box-title {
                    font-size: 2.2em;
                    font-weight: 900;
                    margin-top: 1.2em;
                }

                .box-more {
                    font-size: 1.5em;

                }

                .box-content {
                    font-size: 1.5em;

                    margin: 1.4em 0;
                    line-height: 2em;
                }
            }
        }
    }
}

@media (min-width: 620px) {

    .container {

        .highlight {

            display: flex;
            padding: 1em 0;

            .highlight-box {

                margin: 0 1.2em;

                .highlight-box-content {    
    
                    p {
                        color: lighten($txt-col, 20%);
                        margin:  .2em auto;
                        padding: 0 .1em;
                    }
    
                    .box-title {
                        font-size: 1.8em;
                        font-weight: 900;
                        margin-top: .6em;
                    }
    
                    .box-more {
                        font-size: 1.1em;
    
                    }
    
                    .box-content {
                        font-size: 1.1em;
    
                        margin: 1.2em 0;
                        line-height: 2em;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {

    .highlight {
        width: 82%;
    }
}