@mixin dialogBox($backgroundColor, $width) {
    width: $width;
    padding: 10px;
    background: $backgroundColor;
    border: 1px solid black;
    margin: 40px auto;

    position: relative;

    &::after {
        content: "";
        height: 20px;
        width: 20px;
        transform: rotate(45deg);
        background: beige;
        border: 1px solid red;

        position: absolute;
        top: -11px;
        left: 50%;
    }
}
